<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Kubernetes Test</h1>
    {% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <p>Warning</p>
    {% endif %}
    <h2>Output</h2>
    <ul>
    {% for name in names %}
        <li>{{ name }}</li>
    {% endfor %}
    </ul>
    
</body>
</html>